================

---
# 因子实战 第一集 如何根据历史数据预测股价...?

##### “人们从历史学到的唯一东西就是人类无法从历史学到任何东西” - 乔治·伯纳德·肖

### [@大导演哈罗德](mailto:zhongfangyuan@link.cuhk.edu.cn)
### 香港中文大学深圳金融工程专业大四学生
### [Bilibili](https://space.bilibili.com/629573485)


---

股票的每天的股价 跟之前的数据有没有关系？

---
日内

---
中短期
用昨天的股票数据预测今天的股票数据

In [105]:
import pandas as pd

In [106]:
data1 = pd.read_excel('16-17量价数据.xlsx')
data2 = pd.read_excel('18-19量价数据.xlsx')
data3 = pd.read_excel('20-21量价数据.xlsx')
data4 = pd.read_excel('2022量价数据.xlsx')

In [107]:
data1 = data1.drop(data1.index[0:2])
data2 = data2.drop(data2.index[0:2])
data3 = data3.drop(data3.index[0:2])
data4 = data4.drop(data4.index[0:2])

factor = pd.concat([data1, data2, data3, data4], axis=0)
factor = factor.sort_values(by= ["Symbol","TradingDate"])
factor

,TradingDate,Symbol,ShortName,SecurityID,Ret,PE,PB,PCF,PS,Turnover,CirculatedMarketValue,ChangeRatio,Amount,Liquidility
2,2016-01-04,000895,双汇发展,201000000511,10.852713,15.009085,3.611316,NaN,1.429006,0.00392,35166922393.5,-0.05194,141286488,0.000368
3,2016-01-05,000895,双汇发展,201000000511,10.687023,15.241784,3.667306,NaN,1.451161,0.00583,35712145996.5,0.0155,204310605,0.000222
4,2016-01-06,000895,双汇发展,201000000511,10.56338,15.420187,3.710231,NaN,1.468146,0.00386,36130150758.800003,0.0117,138295682,0.000176
5,2016-01-07,000895,双汇发展,201000000511,11.000524,14.807413,3.562792,NaN,1.409805,0.00147,34694395270.900002,-0.03974,51088791,0.000326
6,2016-01-08,000895,双汇发展,201000000511,10.606061,15.358134,3.6953,NaN,1.462238,0.00597,35984757798,0.03719,211664623,0.000296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449,2022-12-26,603288,海天味业,201000069878,0.88006,55.252364,15.68415,NaN,14.740629,0.00083,368575139417.97998,-0.01278,311076368,0.000034
1450,2022-12-27,603288,海天味业,201000069878,0.878514,55.349615,15.711756,NaN,14.766574,0.0008,369223876148.159973,0.00176,295977246,0.000032
1451,2022-12-28,603288,海天味业,201000069878,0.871622,55.787244,15.835983,NaN,14.883328,0.00111,372143191433.969971,0.00791,410720894,0.000032
1452,2022-12-29,603288,海天味业,201000069878,0.887987,54.759163,15.544148,NaN,14.609049,0.00094,365285117429.210022,-0.01843,342533519,0.000033
1453,2022-12-30,603288,海天味业,201000069878,0.879397,55.294043,15.695981,NaN,14.751748,0.00102,368853169445.200012,0.00977,374204621,0.000032

In [108]:
# 2016-2020日收益.xlsx
# 2016-2020流动率.xlsx
# 2021-2022日收益.xlsx
# 2021-2022流动率.xlsx
# 2016-2020日收益.xlsx
df1 = pd.read_excel('2016-2020日收益.xlsx')
df1 = df1.drop(df1.index[0])

df2 = pd.read_excel('2021-2022日收益.xlsx')
df2 = df2.drop(df2.index[0])

ret = pd.concat([df1, df2], axis=0)
ret = ret.sort_values(by= ["Stkcd","Trddt"])

ret

       Stkcd       Trddt    Dretwd
1     000895  2016-01-04 -0.051935
2     000895  2016-01-05  0.015504
3     000895  2016-01-06  0.011705
4     000895  2016-01-07 -0.039738
5     000895  2016-01-08  0.037192
...      ...         ...       ...
2906  603288  2022-12-26 -0.012784
2907  603288  2022-12-27   0.00176
2908  603288  2022-12-28  0.007907
2909  603288  2022-12-29 -0.018429
2910  603288  2022-12-30  0.009768

[10158 rows x 3 columns]

In [131]:
df3 = pd.read_excel('2016-2020流动率.xlsx')
df3 = df3.drop(df3.index[0:2])

df4 = pd.read_excel('2021-2022流动率.xlsx')
df4 = df4.drop(df4.index[0:2])

liq = pd.concat([df3, df4], axis=0)
liq = liq.sort_values(by= ["Stkcd","Trddt"])

liq

       Stkcd       Trddt     ILLIQ MarketType Status
2     000895  2016-01-04  0.036759          4      A
3     000895  2016-01-05  0.007588          4      A
4     000895  2016-01-06  0.008464          4      A
5     000895  2016-01-07  0.077782          4      A
6     000895  2016-01-08  0.017571          4      A
...      ...         ...       ...        ...    ...
2907  603288  2022-12-26   0.00411          1      A
2908  603288  2022-12-27  0.000595          1      A
2909  603288  2022-12-28  0.001925          1      A
2910  603288  2022-12-29   0.00538          1      A
2911  603288  2022-12-30   0.00261          1      A

[10158 rows x 5 columns]

In [132]:
liq = liq.drop(columns=["Trddt",'Stkcd'])

liq

         ILLIQ MarketType Status
2     0.036759          4      A
3     0.007588          4      A
4     0.008464          4      A
5     0.077782          4      A
6     0.017571          4      A
...        ...        ...    ...
2907   0.00411          1      A
2908  0.000595          1      A
2909  0.001925          1      A
2910   0.00538          1      A
2911   0.00261          1      A

[10158 rows x 3 columns]

In [134]:
ret_reset = ret.reset_index(drop=True)
liq_reset = liq.reset_index(drop=True)
factor_reset = factor.reset_index(drop=True)

df = pd.concat([ret_reset, liq_reset, factor_reset], axis=1)

df = df.drop(columns=['TradingDate','Symbol','Status','SecurityID','PCF'])

df

,Stkcd,Trddt,Dretwd,ILLIQ,MarketType,ShortName,Ret,PE,PB,PS,Turnover,CirculatedMarketValue,ChangeRatio,Amount,Liquidility
0,000895,2016-01-04,-0.051935,0.036759,4,双汇发展,10.852713,15.009085,3.611316,1.429006,0.00392,35166922393.5,-0.05194,141286488,0.000368
1,000895,2016-01-05,0.015504,0.007588,4,双汇发展,10.687023,15.241784,3.667306,1.451161,0.00583,35712145996.5,0.0155,204310605,0.000222
2,000895,2016-01-06,0.011705,0.008464,4,双汇发展,10.56338,15.420187,3.710231,1.468146,0.00386,36130150758.800003,0.0117,138295682,0.000176
3,000895,2016-01-07,-0.039738,0.077782,4,双汇发展,11.000524,14.807413,3.562792,1.409805,0.00147,34694395270.900002,-0.03974,51088791,0.000326
4,000895,2016-01-08,0.037192,0.017571,4,双汇发展,10.606061,15.358134,3.6953,1.462238,0.00597,35984757798,0.03719,211664623,0.000296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10153,603288,2022-12-26,-0.012784,0.00411,1,海天味业,0.88006,55.252364,15.68415,14.740629,0.00083,368575139417.97998,-0.01278,311076368,0.000034
10154,603288,2022-12-27,0.00176,0.000595,1,海天味业,0.878514,55.349615,15.711756,14.766574,0.0008,369223876148.159973,0.00176,295977246,0.000032
10155,603288,2022-12-28,0.007907,0.001925,1,海天味业,0.871622,55.787244,15.835983,14.883328,0.00111,372143191433.969971,0.00791,410720894,0.000032
10156,603288,2022-12-29,-0.018429,0.00538,1,海天味业,0.887987,54.759163,15.544148,14.609049,0.00094,365285117429.210022,-0.01843,342533519,0.000033
10157,603288,2022-12-30,0.009768,0.00261,1,海天味业,0.879397,55.294043,15.695981,14.751748,0.00102,368853169445.200012,0.00977,374204621,0.000032

In [136]:
X = df[['ILLIQ', 'PE', 'PB', 'PS', 'CirculatedMarketValue', 'ChangeRatio', 'Liquidility']]
y = df['Dretwd']

In [137]:
X

,ILLIQ,PE,PB,PS,CirculatedMarketValue,ChangeRatio,Liquidility
0,0.036759,15.009085,3.611316,1.429006,35166922393.5,-0.05194,0.000368
1,0.007588,15.241784,3.667306,1.451161,35712145996.5,0.0155,0.000222
2,0.008464,15.420187,3.710231,1.468146,36130150758.800003,0.0117,0.000176
3,0.077782,14.807413,3.562792,1.409805,34694395270.900002,-0.03974,0.000326
4,0.017571,15.358134,3.6953,1.462238,35984757798,0.03719,0.000296
...,...,...,...,...,...,...,...
10153,0.00411,55.252364,15.68415,14.740629,368575139417.97998,-0.01278,0.000034
10154,0.000595,55.349615,15.711756,14.766574,369223876148.159973,0.00176,0.000032
10155,0.001925,55.787244,15.835983,14.883328,372143191433.969971,0.00791,0.000032
10156,0.00538,54.759163,15.544148,14.609049,365285117429.210022,-0.01843,0.000033
10157,0.00261,55.294043,15.695981,14.751748,368853169445.200012,0.00977,0.000032

In [138]:
y

0       -0.051935
1        0.015504
2        0.011705
3       -0.039738
4        0.037192
           ...
10153   -0.012784
10154     0.00176
10155    0.007907
10156   -0.018429
10157    0.009768
Name: Dretwd, Length: 10158, dtype: object

In [139]:
# 移动一天！！！！！！
y_shift = y.shift(-1)
y_shift

0        0.015504
1        0.011705
2       -0.039738
3        0.037192
4       -0.054545
           ...
10153     0.00176
10154    0.007907
10155   -0.018429
10156    0.009768
10157        None
Name: Dretwd, Length: 10158, dtype: object

In [140]:
y_shift.fillna(method='ffill', inplace=True)
y_shift

/var/folders/md/wt8g61857ld_20f_r6rn4nk40000gn/T/ipykernel_64377/43486615.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  y_shift.fillna(method='ffill', inplace=True)

0        0.015504
1        0.011705
2       -0.039738
3        0.037192
4       -0.054545
           ...
10153    0.001760
10154    0.007907
10155   -0.018429
10156    0.009768
10157    0.009768
Name: Dretwd, Length: 10158, dtype: float64

# 用昨天的股票数据预测今天的股票数据涨跌幅
# 我们已经有了完整的 数据集

In [ ]:
X.to_csv('X.csv', index=False)
y_shift.to_csv('y.csv', index=False)